<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Register</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">heelo</div>
            <div class="col-lg-6">heelo</div>
        </div>
        <div class="row">
            <div class="col-lg-8">heelo</div>
            <div class="col-lg-4">heelo</div>
        </div>
        <div class="row">
            <div class="col-lg-12">heelo</div>
        </div>
    </div>
</body>
</html>